body {
    font-family: 'Open Sans', Helvetica, sans-serif;

}

#header .right {
 float: right;
}
#header .btn {
    display: inline-block;
    margin: 4px;
}


.grid-layout{
    display: grid;
}
.four-column{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
    margin: 12px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    width: 250px;
}

.tiny-card {
    margin: 3px;
    width: 60px;
    height: 60px;
    border: none;
    overflow: hidden;
    display: inline-block;
}

.tiny-card div {
    display: block;
}

.tiny-card img {
    width: 40px;
    height: 30px;
}

/*
                    Header
                    */
.card-header {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    min-height: 60px;
}

.country-image {
    padding: 8px;
}

.card-title {
    display: block;
    padding: 8px;
}

.card-maintitle {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-subtitle {
    font-size: 14px;
    opacity: 0.5;
}

/*
                    Content
                    */
.card-content {
    flex: 1 0 auto;
    position: relative;
    padding: 8px;
}

.content-bad {
    background: #BDBDBD;
}

.content-good {
    background: #7cc110;
}

.card-year {
    position: absolute;
    bottom: 0;
    font-size: 70px;
    font-weight: bold;
    color: rgba(0, 0, 0, .5);
    flex: 1 0 auto;
}

.card-icon {
    float: right;
    padding: 8px;
    padding-bottom: 40px;
}

/*
                    Footer
                    */
.card-footer {
    flex: 1 0 auto;
    padding: 16px;
}

.footer-label {
    font-weight: 300;
    font-size: 18px;
    color: #888;
}

.generation-viz {
    display: flex;
    flex-flow: row wrap;
}

.generation-viz>div {
    height: 17px;
    width: 17px;
    margin: 2px;
    border: 1px solid #999;
}

.unit-on {
    background: black;
}

.unit-off {
    background: #ccc;
}